#requestNewIcon.modal.fade(tabindex='-1', role='dialog', aria-labelledby='requestNewIcon')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title
          | Request new icon
        button.close(data-dismiss='modal', aria-label='Close alert')
          i.eos-icons-outlined.eos-18(aria-hidden='true')
            | close
      .modal-body
        p
          | If you couldn’t find the icon you were looking for, open a Gitlab issue detailing the use case you need to represent graphically.
          | Add as much information as possible (purpose of the icon, product it is intended for, etc) to help us provide a better result.
      .modal-footer
        a(href='https://gitlab.com/SUSE-UIUX/eos/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=', data-event-category='External link', data-event-action='Open Gitlab issue', data-event-label='Request new icon', target='_blank', rel='noreferrer nonopener')
          | Request new icon
