/* Alerts
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/eos-pages/alerts/dark-theme/alerts.variables.scss
*
*/

.dark-theme {
  /* Alerts demo graphics in individual pages */
  .alerts-demo-graphic {
    &.global-alert-graphic {
      background-image: url('../images/alerts/dark-theme/global.svg');
    }

    &.inline-alert-graphic {
      background-image: url('../images/alerts/dark-theme/inline.svg');
    }

    &.section-alert-graphic {
      background-image: url('../images/alerts/dark-theme/section.svg');
    }
  }

  /* Alerts demo graphics in alerts home page */
  .alerts-card-demo-graphic {
    &.global-alert-graphic {
      background-image: url('../images/alerts/dark-theme/global.svg');
    }

    &.inline-alert-graphic {
      background-image: url('../images/alerts/dark-theme/inline.svg');
    }

    &.section-alert-graphic {
      background-image: url('../images/alerts/dark-theme/section.svg');
    }
  }
}
