li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/a621aba8-d24d-413e-a6c6-7e27e200d0ff-f372/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | open_in_new
    span.sr-only
      | Opens in a new tab
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/main-layout/layout.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | download
    | Adobe XD file
li
  a.dropdown-item(href='/examples/demo-layout.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | open_in_new
    span.sr-only
      | Opens in a new tab
    | Demo page
