/* Layout pages
  ========================================================================== */
.layout-example {
  background-repeat: no-repeat;
  background-size: contain;

  &.layout-example-1 {
    background-image: url('../images/layout/structure.svg');
    height: $layout-example-1-height;
    width: $layout-example-1-width;
  }

  &.layout-example-animated-1, &.layout-example-animated-2, &.layout-example-animated-3 {
    height: $layout-example-animated-height;
  }

  &.layout-example-animated-1, &.layout-example-animated-2 {
    width: $layout-example-animated-width;
  }

  &.layout-example-animated-1 {
    background-image: url('../images/layout/desktop-menu.gif');
  }

  &.layout-example-animated-2 {
    background-image: url('../images/layout/tablet-menu.gif');
  }

  &.layout-example-animated-3 {
    background-image: url('../images/layout/mobile-menu.gif');
    width: $layout-example-animated-3-width;
  }

  &.layout-example-content-area {
    background-image: url('/images/layout/desktop-mockup.svg');
    height: $layout-example-content-area-height;
    width: $layout-example-content-area-width;
  }
}

/* Implementation examples */
.layout-implementation {
  background-repeat: no-repeat;

  &.layout-implementation-1 {
    background-image: url('/images/layout/layout-implementation.png');
    float: right;
    height: $layout-implementation-1-h;
    width: $layout-implementation-1-w;
  }

  &.layout-implementation-2 {
    background-image: url('/images/layout/header-specs-web.png');
    height: $layout-implementation-2-h;
    width: $layout-implementation-2-w;
  }

  &.layout-implementation-3 {
    background-image: url('/images/layout/sidebar-specs-web.png');
    height: $layout-implementation-3-h;
    width: $layout-implementation-3-w;
  }

  &.layout-implementation-4 {
    background-image: url('/images/layout/footer-specs-web.png');
    height: $layout-implementation-4-h;
    width: $layout-implementation-4-w;
  }

  &.layout-implementation-5 {
    background-image: url('/images/layout/content-area-specs-web.png');
    height: $layout-implementation-5-h;
    width: $layout-implementation-5-w;
  }

  &.layout-implementation-6 {
    background-image: url('/images/layout/sidebar-ele-specs-web.png');
    height: $layout-implementation-6-h;
    width: $layout-implementation-6-w;
  }

  &.layout-implementation-7 {
    background-image: url('/images/layout/submenu-specs-web.png');
    height: $layout-implementation-7-h;
    width: $layout-implementation-7-w;
  }

  &.layout-implementation-8 {
    background-image: url('/images/layout/header-sidebar-footer-tablet.png');
    height: $layout-implementation-8-h;
    width: $layout-implementation-8-w;
  }

  &.layout-implementation-9 {
    background-image: url('/images/layout/header-sidebar-footer-mobile.png');
    height: $layout-implementation-9-h;
    width: $layout-implementation-9-h;
  }

  &.layout-implementation-10 {
    background-image: url('/images/layout/mobile-menu-open.png');
    height: $layout-implementation-10-h;
    width: $layout-implementation-10-w;
  }
}
