/* Back to top variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-btt-background: rgba(0, 27, 48, .6);
$eos-btt-color: $eos-bc-white;
$eos-btt-focus-color: $eos-bc-blue-500 solid 1px;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-btt-width: $eos-xxl;
$eos-btt-height: $eos-xxl;
$eos-btt-right: $eos-xxl;
$eos-btt-bottom: $eos-xxl;
$eos-btt-right-mobile: $eos-l;
$eos-btt-bottom-mobile: $eos-l;
$eos-btt-border-radius: 50%;

/* Z-index variables: /assets/stylesheets/eos-base/variables/z-index.scss */
$eos-btt-zindex: $eos-zindex-modal;
