/* Panel slidein variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-panel-slidein-bg: $eos-bc-white;
$eos-panel-sliding-transition: left 300ms cubic-bezier(.17, .04, .03, 1);
$eos-panel-sliding-mobile: bottom 300ms cubic-bezier(.17, .04, .03, 1);
$eos-ps-animated-icons-container-bg: url('/images/icons/transparent-bg.png') repeat;
$eos-ps-animated-icons-container-border: 1px solid transparent;
$eos-ps-animated-icons-container-padding: $eos-m;
$eos-ps-animated-icons-container-white-bg: $eos-bc-gray-1000;
$eos-ps-animated-icon-color-white-white-bg: $eos-bc-white;
$eos-ps-animated-icons-container-white-border: 1px solid $eos-bc-gray-500;
$eos-ps-icon-color-circle-bg: $eos-bc-gray-1000;
$eos-ps-width: 100%;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-panel-slidein-width: 350px;
$eos-panel-slidein-height: 100%;
$eos-panel-slidein-padding: $eos-s $eos-l;
$eos-panel-slidein-close-right: $eos-s;
$eos-panel-slidein-close-top: $eos-m;
$eos-panel-slidein-footer-padding: $eos-m 0;
$eos-panel-slidein-hr-padding: $eos-xl;
$eos-panel-slidin-zindex: $eos-zindex-modal-background;
$eos-ps-icon-color-circle-width: $eos-xl;
$eos-ps-icon-color-circle-margin-right: $eos-s;
$eos-ps-icon-color-circle-eos-icons-margin-top: $eos-s - 2;
$eos-ps-eos-animation-icons-code-eg-margin-left: 105px;
$eos-ps-eos-animation-icons--colors-panel-margin: $eos-s + 2 0 0 $eos-ps-eos-animation-icons-code-eg-margin-left;
$eos-ps-icon-color-circle-border-radius: 50%;

/* $eos-ps- prefix for panel-slidein, device variables */
$eos-ps-device-font-size: $eos-s + 4;
$eos-ps-device-footer-padding: $eos-m 0;
$eos-ps-device-label-margin: $eos-xs $eos-s 0 0;
$eos-ps-device-top-padding: $eos-l $eos-s;
$eos-ps-device-top-padding-small: $eos-s;
$eos-ps-device-h3-margin: 0 0 0 $eos-xxxl;
$eos-ps-device-p-margin: $eos-xs;
$eos-ps-device-code-margin: $eos-s 0 0 $eos-xxxl;
$eos-ps-device-margin-top-margin: $eos-s;
$eos-ps-device-hr-margin: $eos-xs 0;
$eos-ps-device-do-dont-margin: 0 $eos-m;
$eos-ps-device-do-dont-margin-mobile: $eos-xs;
$eos-ps-device-do-dont-margin-padding: $eos-s + 2;
$eos-ps-device-custom-breakpoint: 550px;
