doctype html
html(lang='en')
  head
    include shared/layout-head.pug

  body(class=isDarkTheme ? "dark-theme" : "")
    .alert.alert-global.alert-warning.alert-hidden.js-darktheme-alert(role='alert')
      i.eos-icons-outlined.eos-18(aria-hidden='true')
        | warning
      .alert-body
        .alert-global-desktop
          | Please keep in mind that the Dark Theme is NOT the default color scheme. Use the light version instead.
        .alert-global-mobile
          | Please keep in mind that the Dark Theme is NOT the default color scheme. Use the light version instead.

    include shared/layout-body.pug
    include ../shared/menu/menu-layout.pug
    include ../shared/menu/mobile-menu-layout.pug
    include shared/layout-main-content.pug
