/* Cookies banner dark theme
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/do-dont/dark-theme.variables.scss */
.dark-theme {
  .do-dont-container {
    color: $eos-do-dont-dark-theme-text;

  }

  .do-column, .dont-column {
    background: $eos-do-dont-dark-theme-bg;
    box-shadow: none;
  }

  .do-column {
    .do-dont-title {
      color: $eos-do-title-dark;
    }
  }

  .dont-column {
    .do-dont-title {
      color: $eos-dont-title-dark;
    }
  }
}
