extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Dropdown
        p.subheadline
          | Dropdowns are toggleable lists of links or actions which are displayed by clicking on them.
          | They are useful in UIs with high volumes of information as well as for keeping UIs clean by showing information only when the user is requesting it.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', aria-labelledby='asset-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Dropdown assets
          ul#asset-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | They are generic and designed for a variety of situations and structures.
        li
          | Use dropdowns in tables to provide more options on rows if the space is limited.
        li
          | In forms, we recommend using the #[a(href='/form-elements/select') select element] instead.
        li
          | Don't include call-to-action buttons in a dropdown. They should always be presented on their own as their goal is to capture the user's attention.
      .row.states-row.margin-top-xxl.js-showcase-component(name='dropdown')
        .col-md-3.states-column
          strong.states-column-title
            | Badge types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box.dropdown-example-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
