main.content
  include ../../shared/menu/submenu.pug
  block content
  section
    .right-side-content
      include ../../shared/theme-toggle/theme-toggle.pug

include ../../shared/back-to-top/back-to-top.pug
include ../../shared/footer/footer-content.pug
include ../../shared/modals/announcement-modal.pug
