/* Articles gallery component
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/articles-gallery/articles-gallery.variables.scss */
.articles-gallery {
  border-top: $eos-ag-border-top;
  display: flex;
  flex-direction: column;
  font-size: $eos-font-size-base;
  width: $eos-ag-width-100;

  .post {
    background-color: transparent;
    margin: 0 auto;
    overflow: hidden;
    width: $eos-ag-width-100;
  }

  .ag- {
    &carousel {
      margin-top: $eos-ag-carousel-marging-top;
      max-width: $eos-ag-width-100;
    }

    &arrow {
      cursor: pointer;
      display: inline-block;

      &.slick-disabled, &.slick-disabled:hover {
        color: $eos-ag-disabled-arrow-color;
        cursor: not-allowed;
      }

      &:hover {
        color: $eos-ag-arrow-hover-color;
      }
    }

    &article-container {
      color: $eos-ag-article-link-color;
      padding-right: $eos-ag-article-container-padding-right;

      &:hover {
        text-decoration: none;
      }
    }

    &article {
      background: $eos-ag-article-bg;
      border-bottom: $eos-ag-article-border-bottom;
      height: $eos-ag-article-height;
      overflow: hidden;
      padding: $eos-ag-article-padding;
      position: relative;

      .goto-article-icon {
        color: $eos-ag-goto-article-icon-color;
        position: absolute;
        right: 0;
      }

      h5 {
        margin: 0;
      }

      &:hover {
        .ag-read-now {
          bottom: 0;
        }
      }
    }

    &read-now {
      background: $eos-ag-read-now-bg;
      bottom: -$eos-ag-read-now-height;
      box-sizing: border-box;
      color: $eos-ag-read-now-color;
      font-weight: bold;
      height: $eos-ag-read-now-height;
      left: 0;
      padding: $eos-ag-read-now-padding;
      position: absolute;
      text-align: center;
      transition: all .2s;
      width: $eos-ag-width-100;
    }
  }
}
