/* Search
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/Search/Search.variables.scss */
.search {
  .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $eos-search-border;
    border-radius: 0;
    box-shadow: none;
  }
}
