/* Colors accessibility - page
   ========================================================================== */
.color-accessibility-cases {
  background-repeat: no-repeat;

  &.case-1 {
    background-image: url('/images/colors/a11y/case1.png');
    height: $eos-color-accessibility-case-width-1;
  }

  &.case-2 {
    background-image: url('/images/colors/a11y/case2.png');
    height: $eos-color-accessibility-case-width-2;
  }

  &.case-3 {
    background-image: url('/images/colors/a11y/case3.png');
    height: $eos-color-accessibility-case-width-3;
  }

  &.case-4 {
    background-image: url('/images/colors/a11y/case4.png');
    height: $eos-color-accessibility-case-width-4;
  }

  &.case-5 {
    background-image: url('/images/colors/a11y/case5.png');
    height: $eos-color-accessibility-case-width-5;
  }
}
