section.margin-top-xxl
  .row
    .col-md-12
      h2.js-anchor.anchor
        | Accessibility checklist
      p
        | We have developed an extensive checklist based on the Web Content Accessibility Guidelines (WCAG).
        | Please have a look at the #[a(href='/accessibility') Accessibility checklist].
