extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Accessibility
        p.subheadline
          | Link text should be meaningful and help users to know about the destination of the link if they click on it.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='links-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Links assets
          ul#links-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../shared/kit-dropdown/assets.pug

    hr
    section.margin-top-xxl
      .row
        .col-md-12
          h2.js-anchor.anchor
            | General
          ul.list-no-padding
            li
              | Users should be able to navigate between links using the #[code tab] key and the #[code Enter] key to trigger a link.
            li
              | The link text alone should convey appropriate contextual information and the purpose of the link.
            li
              | In case of link text such as #[strong 'Click Here'], #[strong 'More'], and #[strong 'Read More'],
              | which fails to convey appropriate contextual information, use
              | #[code aria-label] attributes to provide descriptive link text.
            li
              | Use some visual state change other than color when hovering or focusing on links.
            li
              |  Always open external links in a new tab or window. It should have an #[code 'open_in_new']
              |  icon before the link text. In this situation, the icon before the link's text is not #[strong 'decorative'] but #[strong 'meaningful'].
              |  To learn more about #[a(href='/icons/accessibility#meaningful-icons') Meaningful Icons], follow the icon accessibility rule.

    include ../shared/accessibility/checklist.pug
