include demo-head.pug
  title EOS - Error page

  body.error-bg
    main.error-content
      include files_copy/layouts/shared/error/error-page-header.pug
      .error-container
        include files_copy/layouts/shared/error/error-message-503.pug

script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='js/index.js')
script(src='js/demo.js')
