extends ../layouts/layout-main
block content
  .container.js-migration-tool
    section
      h1
        | Migration tool
      p
        | Creates a new database from our development and production collections

    section
      .row
        .col.js-dev-col
          h4
            | Development |
            span
          p
            | Select the collections to migrate:
          div.form-group
        .col.js-prod-col
          h4
            | Production |
            span
          p
            | It will remplace the following collections:
          div.list
      hr
      .row
        .col-12
          .form-group
            label(for='database-name')
              | New database name
            input#database-name.form-control(type='text', name='database-name', placeholder='Leave empty for default format (eos-prod-$date)')
        .col-12
          div
            p.js-migration-loading.d-none
              | Doing things on the background, please wait....
            p.js-migration-success.d-none
          button.js-migration-submit.btn.btn-primary(onclick='submitCollections()')
            | Migrate
