extends ../layouts/layout-main

block content
  article.container
    h1
      | Accessibility

    p.subheadline
      | Arrows are widely used to point or indicate direction or to represent progress of order.
      | Using correct icon consistently across all #{config.brand} products requires a well-defined set of rules.
    hr
    section
      h2.js-anchor.anchor
        | General
      p
        | Icons can have a decorative, meaningful, or actionable functionality that will help add visual feedback to a section or an element.

    section
      h2.js-anchor.anchor.margin-top-xxl
        | Decorative icons
      p
        | Decorative icons do not represent important content, they are used in layouts or for non-informative purposes and do not appear within a link.
      .row.states-row.js-showcase-component(name='icons-a11y-decorative')
        .col-md-3.states-column
          strong.states-column-title
            | Decorative icons
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          .js-snippet-alert
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.w-100.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html

    section
      h2.js-anchor.anchor.margin-top-xxl
        | Meaningful icons
      p
        | Icons with a purpose such as indicating a state/status of a service, application, etc., must provide a clear
        | description for screen readers, independently from the ligature name proximity to its meaning.
      p
        | For example, using EOS icons, the ligature "open_in_new" will render the arrow icon and the screen reader will read
        | "open_in_new", however:
      ul
        li
          | Relying on the ligature removes the option of adding the translation of the action's description.
        li
          | While "open in new" may sound sufficient to users not visually impaired, consider that users relying on
          | assistive technology require more information. Using the #[code 'sr-only'] class with a description such as
          | "open the website in a new tab" is more meaningful.
      .row.states-row.js-showcase-component.margin-top-xxl(name='icons-a11y-meaningful')
        .col-md-3.states-column
          strong.states-column-title
            | Meaningful icons
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          .js-snippet-alert
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.w-100.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
      .row
        .col-12.margin-top-xxl
          h3
            | Meaningful icons example
          p
            | This is an example where meaningful icons are used in a table to indicate the status of a product.
          .card.eos-table-card
            .card-header
              span.eos-table-card-title
                | Product status
            .table-responsive
              table.table.eos-table
                thead
                  tr
                    th(scope='col')
                      | Status
                    th(scope='col')
                      | Company
                tbody
                  tr
                    td
                      span
                        i.eos-icons-outlined.eos-18(aria-hidden='true') check_circle
                        span.sr-only Status: success
                    td
                      | SUSE Product Design System
                  tr
                    td
                      span
                        i.eos-icons-outlined.eos-18(aria-hidden='true') cancel
                        span.sr-only Status: error
                    td
                      | SUSE Design system

    section
      h2.js-anchor.anchor.margin-top-xxl
        | Actionable icons
      p
        | Actionable icons are found inside a <code>button</code> element and therefore the accessibility rules of buttons takes precedence.
        | To find examples and guidelines about icons in buttons, check the #[a(href='/buttons/accessibility') buttons accessibility page].

      .row.states-row.js-showcase-component(name='icons-a11y-actionable')
        .col-md-3.states-column
          strong.states-column-title
            | Actionable icons
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          .js-snippet-alert
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.w-100.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
