extends ../layouts/layout-main

block content
  article.container.js-logo-icons-set.js-logoIconsController
    section.row
      .col-md-9
        h1
          | Logo icon set
        p.subheadline
          | Our set of third-party logos follows our design guidelines and integrates coherently in SUSE applications.
      .col-md-3
        button.btn.btn-primary.margin-top-m.float-right(data-toggle='modal', data-target='#requestNewIcon')
          i.eos-icons-outlined.eos-18(aria-hidden='true')
            | add_circle
          |  Request new icon
    hr
    section.row.eos-icons-outlined-notification.js-eos-icons-notification

    section.js-logo-icons-list.icons-set-list.js-panel-slide-hook
      a.icon-display.js-logo-icon-display.js-panel-slidein-open(href='#')
        .js-logo-icon-wrap
          img.eos-48.js-logo-img
          .js-logo-name.logo-name
    section.logo-icons-set-section-margin
      h2.js-anchor.anchor
        | Logo icon wrapper
      p
        | Most logos aren't created to be visible in small sizes. A wrapper helps
        | improving visibility when using logos as icons.
      .row.margin-top-xl
        .col-md-12
          h3.js-anchor.anchor
            | Size
          p
            | When a wrapper is present, its size should be the icon size and the logo inside should
            | be one scale less. For example, a 36px logo icon with a wrapper is composed of a 36px
            | wrapper and a 24px icon inside.
        .col-md-12.d-flex.justify-content-center.margin-top-xxl
          .logo-icons-example
            span.sr-only
              | Logo icon sizing examples
      .row.margin-top-xl
        .col-md-12
          h3.js-anchor.anchor
            | Type
          p
            | For some situations (such as social network links) we can use a square wrapper as well.
            | Square with 0px or 2px rounded borders only.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#logo-icon-examples', aria-controls='logo-icon-examples', role='tab', data-toggle='tab')
                | Implementation examples
          .tab-content
            #logo-icon-examples.tab-pane.active(role='tabpanel')
              span.d-block
                | Implementation of logo icon dark wrapper
              .implementation-example
                .result
                  img.eos-36.eos-dark-wrapper.logo.logo-square(src='/images/icons/gitlab-white.svg', alt='Implementation of logo icon dark wrapper square')
                  img.eos-36.eos-dark-wrapper.logo.logo-round(src='/images/icons/gitlab-white.svg', alt='Implementation of logo icon dark wrapper rounded')
                .css-snippet-container
                  .scss-snippet-btns
                    button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                      i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                        | content_copy
                  pre.js-snippet-code(tabindex=0)
                    template.js-code-template
                      | <img src='gitlab-white.svg' class='eos-36 eos-dark-wrapper logo logo-square'/>
                      | <img src='gitlab-white.svg' class='eos-36 eos-dark-wrapper logo logo-round'/>
                    code.js-code-render.language-html
              span.d-block.margin-top-m
                | Implementation of logo icon light wrapper
              .implementation-example
                .result.dark-bg
                  img.eos-36.eos-light-wrapper.logo.logo-square(src='/images/icons/gitlab-dark.svg', alt='Implementation of logo icon light wrapper square')
                  img.eos-36.eos-light-wrapper.logo.logo-round(src='/images/icons/gitlab-dark.svg', alt='Implementation of logo icon light wrapper rounded')
                .css-snippet-container
                  .scss-snippet-btns
                    button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                      i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                        | content_copy
                  pre.js-snippet-code(tabindex=0)
                    template.js-code-template
                      | <img src='gitlab-dark.svg' class='eos-36 eos-light-wrapper logo logo-square'/>
                      | <img src='gitlab-dark.svg' class='eos-36 eos-light-wrapper logo logo-round'/>
                    code.js-code-render.language-html
  include ../includes/request-new-icon/request-new-icon-modal.pug
  // Panel-slidein component to show more information after clicking .js-panel-slidein-open
  .panel-slidein.js-panel-slidein.panel-slidein-right
    .panel-slidein-body
      include ../includes/panel-slidein/logo-icons.pug
    .panel-slidein-close.eos-icons-outlined.eos-18.js-panel-slidein-close
      | close
