extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Text highlight
        p.subheadline
          | Highlighting text on a web page helps bring important information to the reader's attention.
    hr
    p
      | Override the default text selection and mark html tag color with CSS:
    .row.states-row.margin-top-xxl
      .col-12
        strong.d-block
          |  HTML &lt;mark&gt; tag
        .css-snippet-container
          .scss-snippet-btns
            button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
              i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                | content_copy
          pre.js-snippet-code(tabindex=0)
            code.language-css
              | mark {
              |   background-color: $eos-text-highlight; /* #2453FF */
              |   color: $eos-bc-white; /* #fff */
              | }
          .div
            p.component-showcase-col
              | Highlight example using #[mark mark] HTML tag
      .col-12.margin-top-xxl
        strong.d-block
          | Text selection
        .css-snippet-container
          .scss-snippet-btns
            button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
              i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                | content_copy
          pre.js-snippet-code(tabindex=0)
            code.language-css
              | ::selection {
              |   background-color: $eos-text-highlight; /* #2453FF */
              |   color: $eos-bc-white; /* #fff */
              | }
          .div
            p.component-showcase-col
              | Select the following text for selection highlight example
