$eos-example-wrap-border-color: $eos-bc-gray-50;
$eos-example-wrap-margin-top: $eos-xl;
$eos-example-wrap-padding: $eos-l;
$eos-example-wrap-short-width: 450px;
$eos-example-wrap-short-margin-top: $eos-m;
$eos-example-wrap-long-width: 700px;
$eos-example-wrap-long-padding: $eos-m;

$eos-example-wrap-content-li-background: $eos-bc-gray-100;
$eos-example-wrap-content-li-height: $eos-s;
$eos-example-wrap-content-li-margin: $eos-xs 0;

$eos-example-wrap-cra-margin: 0 $eos-s;
$eos-example-wrap-width-100: 100%;
$eos-example-wrap-width-60: 60%;
$eos-example-wrap-width-90: 90%;
