/* Logo icons set dark theme
   ========================================================================== */
.dark-theme {
  .icon-display {
    display: none;
  }

  .icon-display[data-theme='dark_theme'] {
    display: inline-flex;
  }

  .logo-icons-example {
    background-image: url('/images/icons/logo-icons-examples-dark.svg');
  }

}

