/* Colors
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/colors/colors.variables.scss */
.reduced-color-content {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  justify-content: center;

  .color {
    height: 100px;
  }
}

.colors-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $eos-xl;
}

/* Single color wrap */
.color-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $eos-color-wrap-margin;
  width: $eos-color-content-max-width;

  /* Color title */
  .color-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;

    h4, p {
      margin-bottom: $eos-xs;
    }

    p {
      margin-top: $eos-color-title-p-margin-top;
    }
  }

  /* Define right columns */
  .color-top, .color-bottom {
    display: flex;

    .color {
      &:first-of-type {
        border-radius: 0;
      }
    }
  }

  .color-top {
    .color {
      &:last-of-type {
        border-radius: 0 $eos-color-box-border-radius 0 0;
      }
    }
  }

  .color-bottom {
    .color {
      &:last-of-type {
        border-radius: 0 0 $eos-color-box-border-radius 0;
      }
    }
  }

  /* Define shader square */

  .variable-box {
    box-shadow: $eos-shade-box-shadow;
    display: none;
    font-size: $eos-variable-box-text-size;
    padding: $eos-variable-box-padding;
    position: absolute;
    width: $eos-variable-box-width;

    .eos-icons-outlined {
      cursor: pointer;
    }
  }

  .color {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: $eos-shade-box-size;
    justify-content: center;
    transition: transform .2s ease;
    width: $eos-shade-box-size;

    &:first-of-type {
      border-radius: $eos-color-box-border-radius 0 0 $eos-color-box-border-radius;
    }

    &:last-of-type {
      border-radius: 0 $eos-color-box-border-radius $eos-color-box-border-radius 0;
    }

    &:only-of-type {
      border-radius: $eos-color-box-border-radius;
    }

    .hex {
      font-size: $eos-hex-title-size;
      font-weight: 300;
    }

    &:hover {
      .variable-box {
        display: block;
      }
    }
  }

  /* Define left row */
  .color-main {
    font-size: $eos-color-box-main-text-size;
    height: auto;
    min-height: 70px;
    min-width: 130px;
    width: $eos-color-main-width;

    .variable-box {
      padding-left: $eos-variable-box-main-padding-left;
      width: $eos-variable-box-main-width;

      &.box-500 {
        padding: $eos-variable-box-500-padding;
        width: auto;
      }
    }



    &:hover {
      .variable-box {
        display: block;
      }
    }
  }
}

/* Define colors wrap color */
.bc-green, .bc-orange, .bc-cerulean, .bc-yellow, .bc-gray {
  color: $eos-color-collection-title-dark;

  .eos-icons-outlined {
    color: $eos-color-collection-title-dark;
  }
}

.bc-green {
  .color-500, .color-900 {
    .eos-icons-outlined {
      color: $eos-color-collection-title-light;
    }
  }
}


.bc-gray {
  .color-1000, .color-900, .color-700 {
    color: $eos-color-collection-title-light;

    .eos-icons-outlined, .btn-unstyled {
      color: $eos-color-collection-title-light;
    }
  }
}

.bc-blue, .bc-dark-theme-gray, .bc-pine, .bc-red, .bc-green {
  .color, .btn-unstyled, .eos-icons-outlined {
    color: $eos-color-collection-title-light;

    .btn-unstyled, .eos-icons-outlined {
      color: $eos-color-collection-title-light;
    }
  }
}

.bc-red .color-100, .bc-green .color-100, .bc-green .color-500, .bc-persimmon .color-500 {
  color: $eos-color-collection-title-dark;

  .btn-unstyled, .eos-icons-outlined {
    color: $eos-color-collection-title-dark;
  }
}

/* Map the shaders to the color variable. */
$eos-colors-collection: (
  green: (
    100: $eos-bc-green-100,
    500: $eos-bc-green-500,
    900: $eos-bc-green-900
  ),
  pine: (
    500: $eos-bc-pine-500
  ),
  cerulean: (
    100: $eos-bc-cerulean-100,
    500: $eos-bc-cerulean-500,
    900: $eos-bc-cerulean-900
  ),
  red: (
    100: $eos-bc-red-100,
    500: $eos-bc-red-500,
    900: $eos-bc-red-900
  ),
  yellow: (
    100: $eos-bc-yellow-100,
    500: $eos-bc-yellow-500,
    900: $eos-bc-yellow-900
  ),
  gray: (
    50: $eos-bc-gray-50,
    100: $eos-bc-gray-100,
    300: $eos-bc-gray-300,
    500: $eos-bc-gray-500,
    700: $eos-bc-gray-700,
    900: $eos-bc-gray-900,
    1000: $eos-bc-gray-1000
  ),
  dark-theme-gray: (
    100: $eos-bc-dt-gray-100,
    200: $eos-bc-dt-gray-200
  ),
  blue: (
    500: $eos-bc-blue-500
  ),
  persimmon: (
    500: $eos-bc-persimmon-500
  )
);

@each $eos-label, $eos-map in $eos-colors-collection {
  .bc-#{$eos-label} {
    @each $eos-key, $eos-value in $eos-map {
      $eos-bg: #{$eos-value};

      .color-#{$eos-key} {
        background: $eos-bg;
      }

      .color-text-#{$eos-key} {
        color: $eos-bg;
      }
    }
  }
}
