#video-dashboard.modal.video-modal.fade.js-video-modal(tabindex='-1', role='dialog', aria-labelledby='modal-video-label')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(data-dismiss='modal', aria-label='Close modal')
          span.js-tooltip(data-placement='top', title='Close', aria-hidden='true')
            i.eos-icons-outlined.eos-18.eos-light.icon-reset(aria-hidden='true')
              | close
      .modal-body
        .modal-video
          video(controls='')
            source.js-video-src(src='#', type='video/mp4')
