/* Icons page dark theme
   ========================================================================== */
.dark-theme {
  .copy-icon-color.light {
    color: $eos-body-color;
  }

  .icon-rules {
    &.rule-1 {
      background-image: url('../images/icons/icon-rules-1-dark.svg');
    }

    &.rule-2 {
      background-image: url('../images/icons/icon-rules-2-dark.svg');
    }

    &.rule-3 {
      background-image: url('../images/icons/icon-rules-3-dark.svg');
    }

  }
}
