extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Error page
        p.subheadline
          | The error page helps users to recognise, diagnose, and recover from errors.
          | It should provide an error message to indicate the problem, and constructively suggest a solution.
        p
          | Visit the #[a(href='/examples/demo-error-503.html', data-event-category='Internal link', data-event-action='503 Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener') 503] or
          | #[a(href='/examples/demo-error-404.html', data-event-category='Internal link', data-event-action='404 Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener') 404] demo pages.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='error-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Error page assets
          ul#error-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ./shared/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Basic structure
      p
        | The basic structure provides a header and the main area. The main area
        | has a fixed width on top of a background.
      ul
        li
          | The header contains the brand logo.
        li
          | The main area shows the error type, error message, CTA button, and footer.

      .figure-wrap.margin-top-xxl
        .text-center
          img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-layout.png', alt='Layout structure image')

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Fluid page layout
      p
        | The fluid page layout is the default layout in #{config.brand}.
        | It provides the right screen real estate for content by allowing it to stretch and
        | contract relative to the screen size.
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Responsive breakpoints
      .row
        .col-md-8
          ul
            li
              | bigger than 1120px
            li
              | 770px - 1119px
            li
              | less than 770px

      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            .text-center
              img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-web.png', alt='Menu image for desktop')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            .text-center
              img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-tablet.png', alt='Menu image for tablet')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            .text-center
              img.img-fluid.img-fluid-v-centered(src='/images/error-page/error-page-mobile.png', alt='Menu image for mobile')
    section.margin-top-xxl
      h2.js-anchor.anchor
        | How to implement
      ul
        li
          | Main area has a fixed #[code width 460px] on top of a background and stays left side of the screen with #[code left-marging 250px].
        li
          | The #[strong header ] appears as a fixed, full-width strip, on top of the screen.
        li
          | For screens smaller than 770px, the background is no longer visible and the main area  becomes flexible.
    section.margin-top-xxxl
      h2.js-anchor.anchor
        | Background
      p
        | Download the #[a(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/error-page/error-page-bg.svg?inline=false', data-event-category='External link', data-event-action='Error page background', data-event-label='Templates/error-page') error page background] image.
