/* UX writing
   ========================================================================== */

.ux-writing-examples {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 225px;
  width: $eos-ux-writing-examples-width;

  &.example-1 {
    background-image: url('/images/brand-voice/experts-not-bossy.svg');
  }

  &.example-2 {
    background-image: url('/images/brand-voice/friendly-not-informal.svg');
  }

  &.example-3 {
    background-image: url('/images/brand-voice/transparent-not-blunt.svg');
  }

  &.example-4 {
    background-image: url('/images/brand-voice/adaptive-not-reckless.svg');
  }
}

.pyramid {
  margin-left: auto;
  margin-right: auto;
  margin-top: $eos-xxl;
  position: relative;
  width: 300px;

  &-triangle, &-trapezoid {
    height: 0;
    position: relative;

    .text {
      color: $eos-ux-writing-pyramid-text-color;
      position: absolute;
    }
  }

  &-triangle {
    border-bottom: 100px solid $eos-bc-green-900;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    margin-bottom: $eos-m;
    margin-left: 90px;
    width: 120px;
    @media screen and (max-width: $eos-sd-max) {
      border-bottom: 80px solid $eos-bc-green-900;
      border-left: 48px solid transparent;
      border-right: 48px solid transparent;
      margin-left: 72px;
      width: 96px;
    }

    .text {
      background: $eos-bc-green-900;
      left: -17px;
      top: 40px;
      @media screen and (max-width: $eos-sd-max) {
        left: -17px;
        top: 33px;
      }
    }
  }

  &-trapezoid {
    border-bottom: 145px solid $eos-bc-pine-500;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    width: 300px;
    @media screen and (max-width: $eos-sd-max) {
      border-bottom: 110px solid $eos-bc-pine-500;
      border-left: 70px solid transparent;
      border-right: 70px solid transparent;
      width: 240px;
    }

    .text {
      background: $eos-bc-pine-500;
      top: 60px;
      @media screen and (max-width: $eos-sd-max) {
        text-align: center;
        top: 40px;
      }
    }
  }

  &-explanation {
    left: 300px;
    position: absolute;
    top: 0;
    width: 100px;
    @media screen and (max-width: $eos-sd-max) {
      left: 220px;
    }

    h6, p {
      margin: 0;
    }

    .top {
      margin-top: 2em;
    }

    .bottom {
      margin-top: 6em;
      @media screen and (max-width: $eos-sd-max) {
        margin-top: 3.5em;
      }
    }
  }
}
