/* Password input variables
   ========================================================================== */
/**
*
*  Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss
*
*/
$eos-text-input-password-medium: $eos-bc-yellow-900;
$eos-text-input-password-meter-background: $eos-bc-gray-100;
$eos-text-input-hint-text-color: $eos-bc-gray-500;
$eos-text-input-password-criteria-text-color: $eos-bc-gray-500;

$eos-password-strength-meter: 100%;
$eos-password-meter-width: 24%;
$eos-password-meter-text-width: 25%;
$eos-text-input-hint-text-font-size: 12px;
$eos-text-input-hint-text-line-height: $eos-m;
$eos-text-input-hint-text-margin-top: $eos-xs;

$eos-text-input-toggle-password-margin-left: -15px;
$eos-text-input-toggle-password-color: $eos-bc-gray-700;
