/* Tooltips page
   ========================================================================== */
.tooltips-example {
  background-repeat: no-repeat;
  background-size: contain;

  &.tooltips-example-1 {
    background-image: url('../images/tooltips/color-panel-tooltip.svg');
    height: $eos-tooltips-example-1-height;
    width: $eos-tooltips-example-1-width;
  }

  &.tooltips-example-2 {
    background-image: url('../images/tooltips/username-tooltip.svg');
    height: $eos-tooltips-example-2-height;
    width: $eos-tooltips-example-2-width;
  }

  &.tooltips-example-3 {
    background-image: url('../images/tooltips/icon-buttons-tooltips.svg');
    height: $eos-tooltips-example-3-height;
    width: $eos-tooltips-example-3-width;
  }
}
