/* Tooltips page variables
   ========================================================================== */

$eos-tooltips-example-1-height: 179px;
$eos-tooltips-example-1-width: 317px;

$eos-tooltips-example-2-height: 191px;
$eos-tooltips-example-2-width: 318px;

$eos-tooltips-example-3-height: 73px;
$eos-tooltips-example-3-width: 304px;
