.dropdown.margin-top-m.float-right
  button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='colors-assets-dropdown')
    i.eos-icons-outlined.eos-18(aria-hidden='true')
      | keyboard_arrow_down
    | Colors assets
  ul#colors-assets-dropdown.dropdown-menu.dropdown-menu-right
    li
      a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos/blob/master/assets/stylesheets/eos-base/variables/branding.scss', data-event-category='Dropdown link', data-event-action='Colors stylesheets', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
        i.eos-icons-outlined.eos-18(aria-hidden='true')
          | open_in_new
        span.sr-only
          | Opens in a new tab
        | Colors stylesheet
    li
      a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/Resources/Colors%20Palette/Photoshop%20-Illustrator/eos-swatches.ase', data-event-category='Dropdown link', data-event-action='Adobe color palette', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
        i.eos-icons-outlined.eos-18(aria-hidden='true')
          | download
        | Adobe color palettes
    li
      a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Inkscape%20-%20Gimp/eos-palette.gpl', data-event-category='Dropdown link', data-event-action='Inkscape color palette', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
        i.eos-icons-outlined.eos-18(aria-hidden='true')
          | download
        | Inkscape color palettes
