/* Focus page dark theme
   ========================================================================== */
.dark-theme {
  .tooltips-example {
    &.tooltips-example-1 {
      background-image: url('../images/tooltips/color-panel-tooltip-dark.png');
    }

    &.tooltips-example-2 {
      background-image: url('../images/tooltips/username-tooltip-dark.png');
    }

    &.tooltips-example-3 {
      background-image: url('../images/tooltips/icon-buttons-tooltips-dark.png');
    }
  }
}
