/* Alerts
   ========================================================================== */
/**
*
* Variables: /assets/stylesheets/eos-pages/alerts/alerts.variables.scss
* Titles: /assets/stylesheets/eos-base/titles.scss
*
*/

.alerts-card {
  height: $eos-alerts-card-height;

  figure {
    max-width: $eos-alerts-card-figure;
  }

  // This overwrites current title styles. We'll need to revisit once new title styles are implemented
  h3, h3:first-of-type {
    margin-bottom: 0;
  }

  .alert-card-description {
    min-height: $eos-alert-card-description-height;
  }
}

.alerts-usage h3:first-of-type {
  margin-bottom: 0;
}

.global-alerts-demo, .section-alerts-demo {
  .figure-wrap {
    text-align: center;

    figure {
      margin: 0 auto;
      max-width: $eos-alerts-demo-figure-max-width;

      img {
        width: $eos-alert-card-demo-img-width;
      }
    }
  }

  .alert-global {
    position: relative;
    z-index: 0;
  }

  ul li {
    padding-top: 0;
  }
}

/* Alerts demo graphics in individual pages */
.alerts-demo-graphic {
  background-size: cover;
  height: $eos-alert-demo-graphic-height;
  width: $eos-alert-demo-graphic-width;

  &.global-alert-graphic {
    background-image: url('../images/alerts/global-alert.svg');
  }

  &.inline-alert-graphic {
    background-image: url('../images/alerts/inline-alert.svg');
  }

  &.section-alert-graphic {
    background-image: url('../images/alerts/section-alert.svg');
  }
}

/* Alerts demo graphics in alerts home page */
.alerts-card-demo-graphic {
  background-repeat: no-repeat;
  background-size: contain;
  height: $eos-alert-card-demo-graphic-height;
  width: $eos-alert-card-demo-graphic-width;

  &.global-alert-graphic {
    background-image: url('../images/alerts/global-alert.svg');
  }

  &.inline-alert-graphic {
    background-image: url('../images/alerts/inline-alert.svg');
  }

  &.section-alert-graphic {
    background-image: url('../images/alerts/section-alert.svg');
  }
}

.alert-icon-examples {
  li {
    margin-bottom: $eos-alert-icon-examples-li-margin;

    span {
      margin-right: $eos-alert-icon-examples-li-margin;
      padding: $eos-alert-icon-examples-li-margin;

      > i {
        color: $eos-alert-icon-examples-li-i-color;
        margin-right: 0;
      }
    }

    i {
      margin-right: $eos-alert-icon-examples-li-i-margin;
    }

    &.success {
      span {
        background-color: $eos-alert-icon-examples-li-success-color;
      }
    }

    &.info {
      span {
        background-color: $eos-alert-icon-examples-li-info-color;
      }
    }

    &.warning {
      span {
        background-color: $eos-alert-icon-examples-li-warning-color;
      }
    }

    &.danger {
      span {
        background-color: $eos-alert-icon-examples-li-danger-color;

        > i {
          color: $eos-alert-icon-examples-li-i-light-color;
        }
      }
    }
  }
}
