.right-side-content {
  position: fixed;
  right: $right-side-content-right;
  top: $right-side-content-top;
}

.theme-toggle-button {
  background: transparent;
  border: 2px solid $theme-toggle-color;
  color: $theme-toggle-color;
  display: flex;
  padding: $theme-toggle-padding;
  position: absolute;
  right: $theme-toggle-button-right;

  .eos-icons-outlined {
    margin-right: 0;
  }
}



