extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Checkbox
        p.subheadline
          | Checkboxes are used when the user may select any number (zero, one or
          | several) of choices from a list.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='forms-assets-dropdown')
            | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Form element assets
          ul#forms-assets-dropdown.dropdown-menu.dropdown-menu-right
            include ../../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Description
      ul.list-no-padding
        li
          | Always associate a label to every checkbox for good accessibility. Do not include a colon at the end of the label.
        li
          | Use a single checkbox when there is a choice between two options that
          | represent status (for example opting in or out).
        li
          | Checkboxes should be used when enabling or disabling settings or preferences.
        li
          | Use checkboxes when the user needs to select one or multiple items for a
          | group of choices.
      .row.states-row.margin-top-xxl.js-showcase-component(name='checkbox')
        .col-md-3.states-column
          strong.states-column-title
            | Element states
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              button.btn-showcase.js-element-id
                span.js-element-label
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              button.btn-unstyled.js-copy-snippet(aria-label='Copy code to clipboard')
                i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                  | content_copy
            pre.js-snippet-code.language-markup(tabindex=0)
              code.language-html
