block sign-in-header
  .sign-in-header
    img.logo-right(src='/images/sign-in-page/suse-logo-mobile.svg', alt='Suse logo dark')
    .dropdown.float-right
      button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='language-dropdown')
        | #[i.eos-icons-outlined.eos-18(aria-hidden='true') keyboard_arrow_down]#[span.sr-only Opens assets dropdown] Language
      ul#language-dropdown.dropdown-menu.dropdown-menu-right
        li
          a.dropdown-item.js-demo-link(href='#')
            | English
        li
          a.dropdown-item.js-demo-link(href='#')
            | German
