/* Colors accessibility - page dark theme
   ========================================================================== */
.dark-theme {
  .color-accessibility-cases {
    background-repeat: no-repeat;

    &.case-1 {
      background-image: url('/images/colors/a11y/case1-dark.png');
    }

    &.case-2 {
      background-image: url('/images/colors/a11y/case2-dark.png');
    }

    &.case-3 {
      background-image: url('/images/colors/a11y/case3-dark.png');
    }

    &.case-4 {
      background-image: url('/images/colors/a11y/case4-dark.png');
    }

    &.case-5 {
      background-image: url('/images/colors/a11y/case5-dark.png');
    }
  }
}
