/* Dashboard variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
/* Colour variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-dash-news-tutorials-wrap: $eos-xl;
$eos-dash-custom-breakpoint-tablet-max: 992px;
$eos-dash-custom-breakpoint-desktop-min: 993px;
$eos-dash-slick-slide-margin: 0 $eos-m 0 0;
$eos-dash-resouces-guides-margin-top: $eos-xxl;
$eos-dash-resources-guides-h2-margin-bottom: $eos-xl;
$eos-dash-resources-guides-h2-margin-left: $eos-m;

// Getting started section (gs = getting started)
$eos-dash-gs-bg-a: #f9f9fa;
$eos-dash-gs-bg-b: $eos-bc-white;
$eos-dash-gs-bg-size: $eos-xl;
$eos-dash-gs-hero-bg-max-size: 80%;
$eos-dash-gs-item-sm-margin: $eos-xl;
$eos-dash-gs-img-width: 100%;
$eos-dash-gs-atomic-border-radius: 50%;

// atomic classification (ac = atomic classification)
$eos-dash-gs-ac-figure-bg: $eos-bc-cerulean-500;
$eos-dash-gs-ac-bg-height: 242px;
$eos-dash-gs-ac-bg-light: url('../images/dashboard/getting-started-full.svg');
// h = height, w = width
$eos-dash-gs-ac-figure-h-w: 102px;
$eos-dash-gs-ac-figure-img-w: 85%;
