extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Colors
        p.subheadline
          | Our color palette comprises the primary and accent colors to be used
          | in all  #{config.brand} applications. They have been designed to work harmoniously together.
      .col-md-3
        include shared/colors-dropdown.pug
    hr
    h2.js-anchor.anchor
      | Color shading system
    p
      | Each color has its own shading between 100-900.
      | The 500 color is the main and default color to use in elements/assets.
      | The remaining shades must be used as accent colors.
    section.margin-top-xxl
      h2.js-anchor.anchor
        | Primary colors
      p
        | These are our primary brand colors that should be used in the majority
        | of branded assets.
      .colors-wrap
        .color-wrap
          .color-title
            h3.js-anchor.anchor
              | Green
            p
              code
                | $eos-bc-green-500
          p
            | Use for: primary color and active status.
          .reduced-color-content.bc-green
            .color.color-100
              strong
                | 100
              .hex
                | #E4F6EE
              .variable-box.color-100
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-green-100', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-green-100
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#E4F6EE', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #E4F6EE
            .color.color-500
              strong
                | 500
              .hex
                | #30BA78
              .variable-box.color-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-green-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-green-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#30BA78', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #30BA78
            .color.color-900
              strong
                | 900
              .hex
                | #0e7e3c
              .variable-box.color-900
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-green-900', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-green-900
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#0e7e3c', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #0e7e3c

        .color-wrap.bc-pine
          .color-title
            h3.js-anchor.anchor
              | Pine
            p
              code
                | $eos-bc-pine-500
          p
            | Use for: menu background.
          .reduced-color-content
            .color.color-500.color-main
              strong
                | 500
              .hex
                | #0C322C
              .variable-box.color-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-pine-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-pine-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#0C322C', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #0C322C
      h2.js-anchor.anchor.margin-top-xxl
        | Secondary colors
      p
        | The secondary colors are used to complement the primary colors.
        | They should be used in conjunction with the primary colors, but should
        | not overpower or distort the color perception of the brand — which is green.
      .colors-wrap
        .color-wrap
          .color-title
            h3.js-anchor.anchor
              | Cerulean
            p
              code
                | $eos-bc-cerulean-500
          p
            | Use for: dark theme link color and info status.
          .reduced-color-content.bc-cerulean
            .color.color-100
              strong
                | 100
              .hex
                | #B3E8F6
              .variable-box.color-100
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-cerulean-100', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-cerulean-100
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#B3E8F6', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #B3E8F6
            .color.color-500
              strong
                | 500
              .hex
                | #00B2E2
              .variable-box.color-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-cerulean-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-cerulean-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#00B2E2', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #00B2E2
            .color.color-900
              strong
                | 900
              .hex
                | #008ACF
              .variable-box.color-900
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-cerulean-900', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-cerulean-900
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#008ACF', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #008ACF
        .color-wrap
          .color-title
            h3.js-anchor.anchor
              | Yellow
            p
              code
                | $eos-bc-yellow-500
          p
            | Use for: warning indication.
          .reduced-color-content.bc-yellow
            .color.color-100
              strong
                |  100
              .hex
                | #FFECB5
              .variable-box.color-100
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-yellow-100', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-yellow-100
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#FFECB5', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #FFECB5
            .color.color-500
              strong
                | 500
              .hex
                | #FFC107
              .variable-box.color-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-yellow-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-yellow-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#FFC107', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #FFC107
            .color.color-900
              strong
                | 900
              .hex
                | #FF9E02
              .variable-box.color-900
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-yellow-900', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-yellow-900
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#FF9E02', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #FF9E02

        .color-wrap.bc-red
          .color-title
            h3.js-anchor.anchor
              | Red
            p
              code
                | $eos-bc-red-500
          p
            | Use for: error or danger indication.
          .reduced-color-content
            .color.color-100
              strong
                | 100
              .hex
                | #F5C2C7
              .variable-box.color-100
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-red-100', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | $eos-bc-red-100
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#F5C2C7', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                    | content_copy
                  | #F5C2C7
            .color.color-500
              strong
                | 500
              .hex
                | #DC3545
              .variable-box.color-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-red-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-red-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#DC3545', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #DC3545
            .color.color-900
              strong
                | 900
              .hex
                | #C5161F
              .variable-box.color-900
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-red-900', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-red-900
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#C5161F', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #C5161F
        .color-wrap.bc-blue
          .color-title
            h3.js-anchor.anchor
              | Blue
            p
              code
                | $eos-bc-blue-500
          p
            | Use for: Default link colors and text highlights.
          .reduced-color-content
            .color.color-500.color-main
              strong
                | 500
              .hex
                | #2453ff
              .variable-box.color-500
                button.btn-unstyled.d-block.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-blue-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-blue-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#2453ff', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #2453ff
        .color-wrap.bc-persimmon
          .color-title
            h3.js-anchor.anchor
              | Persimmon
            p
              code
                | $eos-bc-persimmon-500
          p
            | Use for: CTA.
          .reduced-color-content
            .color.color-500.color-main
              strong
                | 500
              .hex
                | #fe7c3f
              .variable-box.color-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-persimmon-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-persimmon-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#fe7c3f', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #fe7c3f
      .colors-wrap
        .color-wrap
          .color-title
            h3.js-anchor.anchor
              | Gray
            p
              code
                | $eos-bc-gray-1000
          p
            | Use for: default color for text
          .d-flex.bc-gray
            .color.color-main.color-500
              strong
                | 500
              .hex
                | #969494
              .variable-box.color-500.box-500
                button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-500', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | $eos-bc-gray-500
                button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#969494', data-placement='left')
                  i.single-icon.eos-icons-outlined.eos-18.eos-light(aria-hidden='true')
                    | content_copy
                  | #969494
            div
              .color-top
                .color.color-300
                  strong
                    | 300
                  .hex
                    | #B6B4B4
                  .variable-box.color-300
                    button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-300', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | $eos-bc-gray-300
                    button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#B6B4B4', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | #B6B4B4
                .color.color-100
                  strong
                    | 100
                  .hex
                    | #E0DFDF
                  .variable-box.color-100
                    button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-100', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | $eos-bc-gray-100
                    button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#E0DFDF', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | #E0DFDF
                .color.color-50
                  strong
                    | 50
                  .hex
                    | #F2F2F2
                  .variable-box.color-50
                    button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-50', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | $eos-bc-gray-50
                    button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#F2F2F2', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | #F2F2F2
              .color-bottom
                .color.color-700
                  strong
                    | 700
                  .hex
                    | #757575
                  .variable-box.color-700
                    button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-700', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | $eos-bc-gray-700
                    button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#757575', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | #757575
                .color.color-900
                  strong
                    | 900
                  .hex
                    | #686565
                  .variable-box.color-900
                    button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-900', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | $eos-bc-gray-900
                    button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#686565', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | #686565
                .color.color-1000
                  strong
                    | 1000
                  .hex
                    | #141823
                  .variable-box.color-1000
                    button.btn-unstyled.js-cc(aria-label='Copy code to clipboard', data-clipboard-text='$eos-bc-gray-1000', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | $eos-bc-gray-1000
                    button.btn-unstyled.margin-top-s.js-cc-hex(aria-label='Copy code to clipboard', data-clipboard-text='#141823', data-placement='left')
                      i.single-icon.eos-icons-outlined.eos-18(aria-hidden='true')
                        | content_copy
                      | #141823

    section.margin-top-xxl
      h2.js-anchor.anchor
        | Implementation and SASS example
      h3.js-anchor.anchor
        | Example of usage:
      p
        | Let's say we are creating a new primary element that requires darker borders.
        | We should use the 500 shade of the "Green" color for the background, and
        | the shade 900 of the same color for the borders:
      .css-snippet-container
        pre.js-snippet-code(tabindex=0)
          template.js-code-template
            | .my-class {
            |   background: $eos-bc-green-500;
            |   border: 1px solid $eos-bc-green-900;
            | }
          code.js-code-render.language-scss

  section.articles-gallery
    .container
      h2.js-anchor.anchor.margin-bottom-l
        | Download color palettes
      .row
        .col-md-6.margin-bottom-m
          .card.card-horizontal.clickable
            .card-content
              div
                span.d-block.h4
                  | Color palettes for Adobe
                p
                  | Download #[strong .gpl] file for Adobe Photoshop and Illustrator
              div
                img.img-fluid.small-image(src='./images/colors/adobe.svg', alt='Adobe logo')
            footer
              .d-flex.justify-content-end
                a.card-link.js-article-link(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/Resources/Colors%20Palette/Photoshop%20-Illustrator/eos-swatches.ase', target='_blank', rel='noreferrer nonopener')
                  | Download
        .col-md-6.margin-bottom-m
          .card.card-horizontal.clickable
            .card-content
              div
                span.d-block.h4
                  | Color palettes for Inkscape
                p
                  | Download #[strong .gpl] file for Inkscape (also works with GIMP)
              div
                img.img-fluid.small-image(src='./images/colors/Inkscape.logo.svg', alt='Inkscape logo')
            footer
              .d-flex.justify-content-end
                a.card-link.js-article-link(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Inkscape%20-%20Gimp/eos-palette.gpl', target='_blank', rel='noreferrer nonopener')
                  | Download
